aiosmtpd==1.4.6
hypothesis==6.131.15
pytest==8.3.5
pytest-check==2.5.3
pytest-cov==6.1.1
pytest-html==4.1.1
pytest-mock==3.14.0
pytest-randomly==3.16.0
pytest-sugar==1.0.0
matplotlib==3.8.4
markdown==3.6